@use 'vuetify' with (
  $utilities: false,
  $color-pack: false
);

@import 'overlayscrollbars/overlayscrollbars.css';
@import '@unocss/reset/tailwind.css';
@import 'transitions.scss';
@import './markdown.scss';

html,
body {
  overflow: hidden;
}
