@import './katex.scss';

@mixin base {
  a {
    color: $lavender;
    text-decoration-line: none;

    &:hover {
      color: $mauve;
    }
  }

  pre {
    background-color: $mantle;
    font-size: 0.9rem;
  }
}

@import 'latte';
.light .markdown-body {
  @include base;
}

@import 'mocha';
.dark .markdown-body {
  @include base;
}
